.accordion {
  margin-top: 20px;
  &__item {
    padding: 23px 36px;
    border-radius: 10px;
    background-color: var(--primary-light);
    margin-bottom: 18px;
    overflow: hidden;
    transition: 0.3s;
    &--question {
      @include between;
      p {
        font-size: 20px;
        font-weight: 600;
      }
    }
    &--answer {
      display: none;
      padding-top: 20px;
      transition: 0.3s;
    }
  }
}
.active {
  .accordion__item--question {
    svg {
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }
  .accordion__item--answer {
    display: block;
  }
}
