.cart {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  // background-color: rgba($color: #000000, $alpha: 0.9);
  &.open {
    display: flex;
  }

  &__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-color: rgba($color: #000000, $alpha: 0.9);
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    strong {
      max-width: 200px;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    p {
      font-size: 10px;
      color: var(--gray);
      text-decoration: underline;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &-content {
    position: relative;
    padding: 45px 35px;
    width: 710px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    gap: 20px;
    z-index: 1000;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 10px;
      background-color: var(--primary);
    }
    &::-webkit-scrollbar-thumb{
      background-color: var(--primary) !important;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track{
      background-color: var(--white);
    }
    @media screen and (max-width: 576px) {
      padding: 20px 15px;
      height: 100vh;
    }
  }
  &__wrapper {
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--primary-light);

    border-radius: 10px;
    @media screen and (max-width: 576px) {
      padding: 6px;
      padding-bottom: 10px;
    }
    &--top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--name {
      font-size: 16px;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
    &--bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__details {
    flex-grow: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 576px) {
      flex-grow: 0.7;
    }
    &--item {
      text-align: center;
      p {
        font-size: 14px;
        font-weight: 500;
        color: var(--gray);
        margin-bottom: 6px;
        @media screen and (max-width: 768px) {
          font-size: 8px;
        }
      }
      div {
        font-size: 16px;
        font-weight: 500;
        &::first-letter {
          text-transform: uppercase;
        }
        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: var(--white);
    img {
      width: 27px;
    }
  }
  &__toggle {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--primary-light);
  }

  &__quantity {
    display: flex;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 30px;
      border-radius: 10px;
      background-color: var(--white);
      font-size: 16px;
      cursor: pointer;
    }

    input {
      width: 30px;
      height: 30px;
      background-color: var(--white);
      margin: 0 5px;
      text-align: center;
      border-radius: 10px;
    }
  }

  &__cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
  }

  &__price {
    font-weight: bold;
    margin-top: 7px;
  }
  &__total {
    font-weight: 500;
    margin-top: 5px;
    @media screen and (max-width: 576px) {
      margin-bottom: 82px;
    }
  }
}

.form {
  margin-top: 20px;
}

.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .form__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 16px 12px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}

.form span {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  text-align: end;
  margin-bottom: 10px;
}

.form button {
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary);
  padding: 13px 20px;
  color: var(--white);
  margin-top: 15px;
}
