.footer {
  padding: 41px 0 56px;
  background-color: var(--primary-light);
  .container {
    @include between(20px);
    align-items: start;

    @media screen and (max-width: 1080px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 420px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__logo {
    margin-bottom: 54px;
  }
  &__description {
    max-width: 230px;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 16.8px;
    color: var(--gray);
    @media screen and (max-width: 420px) {
      margin-bottom: 16px;
    }
  }
  &__copy {
    font-size: 14px;
    line-height: 26px;
  }
  &__list {
    max-width: 430px;
    margin-top: 28px;
    @include between(28px);
    align-items: start;
    flex-grow: 0.7;
    @media screen and (max-width: 700px) {
      margin-top: 60px;
      flex-direction: column;
      gap: 20px;
    }
    @media screen and (max-width: 420px) {
      margin-top: 0;
      gap: 8px;
      margin-bottom: 16px;
    }
    &--item {
      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 18px;
        @media screen and (max-width: 700px) {
          margin-bottom: 0;
        }
      }
    }
  }
  &__links {
    @include flex-col;
    align-items: start;
    gap: 21px;
    @media screen and (max-width: 700px) {
      display: none;
    }

    li {
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 600;
    }
  }
  &__contacts {
    @include flex-col;
    align-items: start;

    @media screen and (max-width: 420px) {
      flex-direction: column-reverse;
      flex-grow: 1;
    }
    &--col {
      width: 100%;
      @include between(12px);
      @media screen and (max-width: 420px) {
        flex-direction: column-reverse;
        align-items: start;
        margin-top: 18px;
        margin-bottom: 20px;
        p {
          font-weight: 700;
        }
      }
    }
    &--icons {
      @include flex-row;
      gap: 12px;
      @media screen and (max-width: 420px) {
        gap: 16px;
      }
    }
    p {
      font-size: 14px;
      line-height: 26px;
      font-weight: 600;
    }
  }
  iframe {
    margin-top: 16px;
    max-width: 360px;
    height: 160px;
    border: 0;
    border-radius: 10px;
    flex-grow: 1;
    @media screen and (max-width: 500px) {
      max-width: 100%;
    }
  }
}
